.num {
	border-style: 1px #d8d3d3;
}
button {
	background-color: white;
	border-color: #d8d3d3;
}
#rightIn {
	margin-right: 10px;
}
#queue {
	height: 100px;
}
.block {
	float: left;
	background-color: red;
	width: 30px;
	margin-right: 20px;
}